<% include ../partials/header %>

<div class="container">
    <div class="row row justify-content-center">
        <div class="col-md-12 text-center">
            <legend class="form-header">Edit <%= campground.name %></legend>
        </div>
        <div class="col-lg-5 col-md-7 col-sm-9 mb-3">
            <div class="form input-form">
                <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="image">Image</label>
                            <input type="file" id="image" name="image" accept="image/*" >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea id="description" class="form-control" type="text" name="campground[description]" rows="4"><%= campground.description %></textarea>
                            <!--<input class="form-control" type="text" name="campground[description]" value="<%= campground.description %>">-->
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="price">Price/Night</label>
                            <input class="form-control" type="number" name="campground[price]" value="<%= campground.price %>" min="0.01" step="0.01">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Update!</button>
                        </div>
                    </div>
                    <div class="col-12 offset-4">
                        <a class="text-center ml-3" href="/campgrounds/<%= campground._id %>">Go Back</a>
                    </div>
                    <input style="position: absolute; display: none; " name="oldImagePublicId" value="<%= campground.image.publicId %>">
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>