<% include ../partials/header %>

<div class="container">

    <header class="jumbotron main">
        <div class="container">
            <h1><i id="campfire-icon" class="wi wi-fire"></i> Welcome To W3Camp</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-camp-index btn-primary btn-lg btn-hover-shadow"href="/campgrounds/new"><i class="fas fa-plus"></i> Add New Campground</a>
            </p>
            <p>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="mt-1 form-group">
                        <input type="text" id="campground-search" name="search" placeholder="&#xf002; Campground search..." class="form-control" >    
                    </div>
                </form>
            </p>
        </div>
    </header>
    
    <div class="row justify-content-center justify-content-lg-start d-flex text-center" id="campground-grid">
        <% campgrounds.forEach(function(campground){ %>
            <div class = "col-10 col-md-4 col-lg-3">
                <div class="card bg-light mb-4">
                    <img class="card-image-top img-resize img-responsive" src="<%= campground.image.url%>">
                    <div class="card-title mt-2">
                        <h5><%=campground.name %></h5>
                        <p class="card-text">Prices starting at $<%=campground.price%></p>
                    </div>
                    <p>
                        <a class="btn card-link btn-camp-index btn-primary hvr-grow" href="/campgrounds/<%= campground._id %>">More info</a>
                    </p>
                </div>
            </div>
        <% }); %>  
        <!--Pagination feature bar-->
        <div class="row d-flex justify-content-center w-100 mt-1">
            <% if (pages && pages > 0) { %>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">First</a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/campgrounds<%if(search){%>?search=<%=search%><%}%>">First</a></li>
                        <% } %>
                 
                        <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">«</a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
                        <% } %>
                 
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                                <li class="page-item active"><a class="page-link"><%= i %></a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                        <% } %>
                 
                        <% if (current == pages) { %>
                            <li class="page-item disabled"><a class="page-link">»</a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
                        <% } %>
    
                        <% if (current == pages) { %>
                            <li class="page-item disabled"><a class="page-link">Last</a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/campgrounds?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
                        <% } %>
                    </ul>
                </nav>
            <% } %>
        </div>
    </div>
    
</div>

<% include ../partials/footer %>


<!--Note the ejs tags inside the quotes around the campgrounds.image -->