<% include ../partials/header %>

<div class="row parallax">
    <div class="col-12">
        <h3 class="title-forum">W3Camp forum</h3>
    </div>
</div>
<div class="row">
    <nav class="forumIndex-nav mb-4">
        <div class="container">
            <a href="/forumTopics/new"><i class="fas fa-pencil-alt"></i> New topic</a>
            <a href="/contact"><i class="fas fa-plus-circle"></i> Request category</a>
            <a href="javascript:history.back()"><i class="far fa-arrow-alt-circle-left"></i> Back</a>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="table-responsive mb-4">
                <table class="table table-hover">
                    <thead class="thead-forum">
                        <tr>
                            <th colspan="3"><i class="fas fa-info-circle"></i> Site information</th>
                        </tr>
                    </thead>
                    <tbody class="forum-tbody">
                        <% var counter = false; %>
                        <% forumTopic.forEach(function(disscusionTopic){ %>
                            <% if (typeof disscusionTopic.topic !== 'undefined' && disscusionTopic.topic === "Site information") { %>
                                <% counter = true; %>
                                <tr>
                                    <td>
                                        <div class="forum-table-link">
                                            <a href="/forumTopics/<%= disscusionTopic._id %>"><%= disscusionTopic.name %></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-row justify-content-end">
                                            <div class="forum-table-author mr-4">
                                                By: <a href="/users/<%= disscusionTopic.author.id %>"><%= disscusionTopic.author.username %></a>
                                            </div>
                                            <div class="d-flex align-items-center forum-date">    
                                                Created : <%= moment(disscusionTopic.createdAt).fromNow() %>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        <% }); %>
                        <% if (!counter || typeof forumTopic === "undefined") { %>
                            <tr class="forum-no-topics-txt">
                                <td>There are no topics for this category yet.</td>
                            </tr>
                        <% } else if (counter) { counter = true }%>
                        <%  /*console.log(JSON.stringify("Counter " + counter, null, '\t'))*/ %>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mb-4">
                <table class="table table-hover">
                    <thead class="thead-forum">
                        <tr>
                            <th colspan="3"><i class="fas fa-fire"></i> Campground discussions</th>
                        </tr>
                    </thead>
                    <tbody class="forum-tbody">
                        <% var counter = false; %>
                        <% forumTopic.forEach(function(disscusionTopic){ %>
                            <% if (typeof disscusionTopic.topic !== 'undefined' && disscusionTopic.topic === "Campground discussions") { %>
                                <% counter = true; %>
                                 <tr>
                                    <td>
                                        <div class="forum-table-link">
                                            <a href="/forumTopics/<%= disscusionTopic._id %>"><%= disscusionTopic.name %></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-row justify-content-end">
                                            <div class="forum-table-author mr-4">
                                                By: <a href="/users/<%= disscusionTopic.author.id %>"><%= disscusionTopic.author.username %></a>
                                            </div>
                                            <div class="forum-date d-flex align-items-center">
                                                Created : <%= moment(disscusionTopic.createdAt).fromNow() %>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        <% }); %>
                        <% if (!counter || typeof forumTopic === "undefined") { %>
                            <tr class="forum-no-topics-txt">
                                <td>There are no topics for this category yet.</td>
                            </tr>
                        <% } else if (counter) { counter = true }%>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive mb-4">
                <table class="table table-hover">
                    <thead class="thead-forum"> 
                        <tr>
                            <th colspan="3"><i class="fas fa-coffee"></i> General</th>
                        </tr>
                    </thead class="forum-tbody">
                        <tbody class="forum-tbody">
                        <% var counter = false; %>
                        <% forumTopic.forEach(function(disscusionTopic){ %>
                            <% if (typeof disscusionTopic.topic !== 'undefined' && disscusionTopic.topic === "General") { %>
                                <% counter = true; %>
                                <tr>
                                    <td>
                                        <div class="forum-table-link">
                                            <a href="/forumTopics/<%= disscusionTopic._id %>"><%= disscusionTopic.name %></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-row justify-content-end mr-4">
                                            <div class="forum-table-author mr-4">
                                                By: <a href="/users/<%= disscusionTopic.author.id %>"><%= disscusionTopic.author.username %></a>
                                            </div>
                                            <div class="forum-date d-flex align-items-center">
                                                Created : <%= moment(disscusionTopic.createdAt).fromNow() %>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        <% }); %>
                        <% if (!counter || typeof forumTopic === "undefined") { %>
                            <tr class="forum-no-topics-txt">
                                <td>There are no topics for this category yet.</td>
                            </tr>
                        <% } else if (counter) { counter = true }%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 forum-recentposts-table">
            <table class="table table-hover table-striped">
                <thead class="thead">
                    <tr>
                        <th scope="col">Latest Posts</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (latestPosts && latestPosts.posts.length > 0) { %>
                        <% for (var i = latestPosts.posts.length - 1; i >= 0; i--) { %>
                            <tr>
                                <td class="d-flex flex-column">
                                    <div class="latest_p_topic"><a href="/forumTopics/<%= latestPosts.posts[i].postTopicId %>"><%= latestPosts.posts[i].postTopic.substring(0,37) %></a>...</div>
                                    <div class="latest_p_author text-muted m-0">By <a href="/users/<%= latestPosts.posts[i].author.id %>"><%= latestPosts.posts[i].author.username.substring(0,30) %></a></div>
                                    <div class="latest_p_text"><%= latestPosts.posts[i].text.substring(0,60) %>...</div>
                                </td>
                            </tr>
                        <% } %>
                    <% } else { %>
                            <tr>
                                <td class="text-muted">No posts yet.</td>
                            </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include ../partials/footer %>