<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="mt-3 mb-3 col-12">
            <h2><%= forumTopic.name %> </h2>        
        </div>
        <div class="d-flex flex-row bg-light border rounded">
            <div class="user-discussion-badge d-flex justify-content-center flex-column border-right col-2 pr-1 pl-1">
                <div class="user-discussion-avatarimg mt-2">
                    <img src="<%= forumTopicAuthor.avatarImg.url %>" alt="/images/defaultAvatar.png">    
                </div>
                <div class="mx-auto mt-2">
                    <a href="/users/<%= forumTopicAuthor._id %>"><%= forumTopicAuthor.username %></a>    
                </div>
                <div class="mx-auto">
                    <% if (forumTopicAuthor.isAdmin) {%>
                    <p class="text-muted mt-0 mb-0">Site admin</p>
                    <% } %>
                </div>
                <div class="mx-auto">
                    <p class="text-muted mt-0">Posts: 20</p>
                </div>
                <div class="mx-auto">
                    <p class="text-muted mt-0">Joined: 12/03/2018</p>
                </div>
            </div>
            <div class="topic-initial-post d-flex flex-column col-10 p-3 text-justify">
                <div>
                    <p class="text-muted mt-0"><%= forumTopic.createdAt %></p>
                </div>
                <p><%= forumTopic.description %></p>
                <% if (currentUser && currentUser._id === forumTopicAuthor.id || currentUser && currentUser.isAdmin) { %>
                <div class="d-flex flex-row justify-content-end">
                    <a href="/forumTopics/<%= forumTopic._id %>/edit" class="btn btn-sm btn-info mr-2">Edit</a>
                    <form action="/forumTopics/<%= forumTopic.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>    
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>