<% include ../partials/header %>

<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <legend class="form-header">Update Profile Information</legend>    
    </div>
    <div class="form input-form  mb-3">
        <div class="row">
            <form action="/users/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 col-8">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input class="form-control" pattern=".{3,15}" id="firstName" required title="Must be between 3 and 15 Characters" type="text" name="user[firstName]" placeholder="first name*" value="<%= user.firstName %>">
                        </div>    
                    </div>
                    <div class="col-md-6 col-8">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input class="form-control" pattern=".{3,15}" id="lastName" required title="Must be between 3 and 15 Characters" type="text" name="user[lastName]" placeholder="last name*" value="<%= user.lastName %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-8">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input class="form-control" type="email" id="email" required name="user[email]" placeholder="example@mail.com*" value="<%= user.email %>">
                        </div>
                    </div>
                    <div class="col-md-6 col-8">
                        <div class="form-group">
                            <label for="adminPass">Admin Password</label>
                            <input class="form-control" type="password" id="adminPass" name="adminPass" placeholder="admin password" value="<%= user.isAdmin ? "admin123" : "" %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-8">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input class="form-control" pattern=".{3,15}" id="username" required title="Must be between 3 and 15 Characters" type="text" name="user[username]" placeholder="username*" value="<%= user.username %>">
                        </div>
                    </div>
                    <div class="col-md-6 col-8">
                        <div class="form-group">
                            <label for="image">Image</label>
                            <input id="userImage-upload" type="file" id="image" name="image" accept="image/*">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-8">
                        <div class="form-group">
                            <label for="bio">Bio</label>
                            <textarea id="bio" required class="form-control" type="bio" name="user[bio]" rows="4" placeholder="Write a short description of yourself and what you enjoy about camping."><%= user.bio %></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
                <input style="position: absolute; display: none; " name="oldAvatarImagePublicId" value="<%= user.avatarImg.publicId %>">
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>