<% include ../partials/header %>

<div class="container profile-container">
    <div class="coverimg-wrap d-flex justify-content-center">
        <img class="profile-coverimg" src="<%= user.coverImg.url %>" alt="/images/backgrounds/user-default-cover.jpg"/>
        <% if (currentUser && user.id === currentUser.id || currentUser && currentUser.isAdmin) { %>
            <div class="overlay"></div>
            <button id="coverimgBtn" class="coverimg-buton"><a href="#" data-rel="popup"><i class="fa fa-camera mr-2" aria-hidden="true"></i>Edit cover</a></button>
            <!-- modal form -->
            <div id="modal-form-coverimg" class="modal">
                <!-- modal form content -->
                <div class="modalform-content">
                    <span class="modalform-closeBtn"><i class="far fa-times-circle"></i></span>
                    <form form action="/users/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="coverImage">Select Image</label>
                            <input type="file" id="coverImage" name="image" accept="image/*">
                        </div>
                        <div class="d-flex flex-row justify-content-center col-lg-12 mx-auto">
                            <button class="w-30 btn btn-info hvr-grow">Edit</button>
                        </div>
                        <input style="position: absolute; display: none; " name="oldCoverImagePublicId" value="<%= user.coverImg.publicId %>">
                        <input style="position: absolute; display: none; " name="coverImageBool" value="true">
                    </form>
                </div>
            </div>
        <% } %>
    </div>
    <div class="row">
        <div class="left d-flex flex-column col-md-12 col-lg-4">
            <div class="photo-left">
                <img class="user-profileimg"  src="<%= user.avatarImg.url %>" alt="/images/defaultAvatar.png"/>
            </div>
            <h4 class="user-name"><%= user.firstName + " " + user.lastName %></h4>
            <p>
                <a href="mailto:<%= user.email %>"><%= user.email %></a>
            </p>
            <div class="stats row">
                <div class="stat-joindate">
                    Joined: <%= moment(user.createdAt).format("MMM-DD-YYYY") %>
                </div>
            </div>
        </div>
        <div class="right col-md-12 col-lg-7">
            <ul class="nav nav-tabs profile-nav-tabs mt-3">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#campgrounds" data-toggle="tab" class="nav-link">
                        <% if (currentUser && user.id === currentUser.id) { %>
                            My Campgrounds        
                        <% } else { %>
                            Submitted Campgrounds 
                        <% } %>
                    </a>
                </li>
                <% if (currentUser && user.id === currentUser.id || currentUser && currentUser.isAdmin) { %>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li>
                <% } %>
            </ul>
            
            <div class="tab-content pt-4 pr-2">
                <div class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-3"><%= user.username %>'s Profile</h5>
                            <p class="text-justify">
                                <%= user.bio %>
                            </p>
                            <h6 class="float-left mr-2">Contact :</h6>
                            <p>
                                <a href="mailto:<%= user.email %>"><%= user.email %></a>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex justify-content-center">
                                <h5 class="mb-3 mx-auto">Activity</h5>    
                            </div>
                            <% if(userPosts.length > 0) { %>
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Topics</th>
                                            <th scope="col">Posts</th>
                                            <th scope="col">Date:</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                    
                                       <% userPosts.forEach(function(post) { %>
                                           <% if (post.text) { %>
                                            <tr>
                                                <td>
                                                   <a href="/forumTopics/<%= post.forumTopicId %>"><%= post.forumTopic.substring(0,25)%>...</a>
                                                </td>
                                                <td><%= post.text.substring(0,25) %>...</td>
                                                <td><%= moment(post.createdAt).fromNow() %></td>
                                            </tr>
                                            <% } %>
                                        <% }); %>
                                    </tbody> 
                                </table>
                            <% } else {%>
                                <h4><%= user.username %> has no posts yet :(</h4>
                            <% } %>
                        </div>
                    </div>
                </div>
                
                <div class="tab-pane" id="campgrounds">
                    <% if(campgrounds.length > 0) { %>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Submitted:</th>
                            </tr>
                        </thead>
                        <tbody>                                    
                           <% campgrounds.forEach(function(campground) { %>
                                <tr>
                                    <td>
                                       <a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a>
                                    </td>
                                    <td><%= moment(campground.createdAt).fromNow() %></td>
                                </tr>
                            <% }); %>
                        </tbody> 
                    </table>
                    <% } else {%>
                        <h4><%= user.username %> hasn't submitted any campgrounds :( </h4>
                    <% } %>
                </div>
                
                <div class="tab-pane" id="edit">
                    <form action="/users/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6 offset-sm-2 offset-2 offset-md-0 col-8">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input class="form-control" pattern=".{3,15}" id="firstName" required title="Must be between 3 and 15 Characters" type="text" name="user[firstName]" placeholder="first name*" value="<%= user.firstName %>">
                                </div>    
                            </div>
                            <div class="col-md-6 offset-sm-2 offset-2 offset-md-0 col-8">
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input class="form-control" pattern=".{3,15}" id="lastName" required title="Must be between 3 and 15 Characters" type="text" name="user[lastName]" placeholder="last name*" value="<%= user.lastName %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 offset-sm-2 offset-2 offset-md-0 col-8">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input class="form-control" type="email" id="email" required name="user[email]" placeholder="example@mail.com*" value="<%= user.email %>">
                                </div>
                            </div>
                            <div class="col-md-6 offset-sm-2 offset-2 offset-md-0 col-8">
                                <div class="form-group">
                                    <label for="adminPass">Admin Password</label>
                                    <input class="form-control" type="password" id="adminPass" name="adminPass" placeholder="admin password" value="<%= user.isAdmin ? "admin123" : "" %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 offset-sm-2 offset-2 offset-md-0 col-8">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input class="form-control" pattern=".{3,15}" id="username" required title="Must be between 3 and 15 Characters" type="text" name="user[username]" placeholder="username*" value="<%= user.username %>">
                                </div>
                            </div>
                            <div class="col-md-6 offset-sm-2 offset-2 offset-md-0 col-8">
                                <div class="form-group">
                                    <label for="image">Image</label>
                                    <input id="userImage-upload" type="file" id="image" name="image" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 offset-sm-2 offset-2 offset-md-0 col-8">
                                <div class="form-group">
                                    <label for="bio">Bio</label>
                                    <textarea id="bio" required class="form-control" type="bio" name="user[bio]" rows="4" placeholder="Write a short description of yourself and what you enjoy about camping."><%= user.bio %></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <!--<label class="col-lg-4 col-form-label form-control-label"></label>-->
                            <div class="d-flex flex-row justify-content-center col-lg-12 offset-sm-2 offset-2 offset-md-0 mx-auto">
                                <a href="/forgot" class="w-30 btn btn-primary hvr-grow mr-4">Change password</a>
                                <button class="w-30 btn btn-primary hvr-grow">Update</button>
                            </div>
                        </div>
                        <input style="position: absolute; display: none; " name="oldAvatarImagePublicId" value="<%= user.avatarImg.publicId %>">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>