<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1><%= user.firstName + " " + user.lastName %></h1>
            <div class="card bg-light mb-3">
                    <img class="card-image-top" src="<%= user.avatarImg.url %>" alt="/images/defaultAvatar.png">
                <div class="card-body">
                    <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
                    <p class="card-text">
                        <%= user.bio %>
                    </p>
                </div>
            </div>
            <% if (currentUser && user.id === currentUser.id) { %>
                <a href="<%= user.id %>/edit" id="editProfileBtn"class="btn btn-primary btn-lg btn-block hvr-grow">Edit Profile</a>
            <% } %>
        </div>
        <div class="col-md-8 mt-3 mb-3">
            <% if(campgrounds.length > 0) { %>
                <% if (currentUser && user.id === currentUser.id) { %>
                    <h4 class="mb-3">View your submitted campgrounds: </h4>        
                <% } else { %>
                    <h4 class="mb-3"><%= user.username %>'s submitted campgrounds: </h4>
                <% } %>
                <ul class="list-group">
                    <% campgrounds.forEach(function(campground) { %>
                        <li class="list-group-item user-camps-list"><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
                    <% }); %>
                </ul>
            <% } else { %>
                <% if (currentUser && user.id === currentUser.id) { %>
                    <h4>You haven't submitted any campgrounds... :( </h4>        
                <% } else { %>
                    <h4><%= user.username %> hasn't submitted any campgrounds :( </h4>
                <% } %>
            <% } %>
        </div>
    </div>
</div>

<% include ../partials/footer %>